.img-wrap {
    position: relative;
}

.movieData {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    font-size: 40px;
    color: white;

    background: #444242;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
}

.movieData a{
    text-decoration: none;
    color: white;
    display: flex;
}